doctype html
html(lang="en")
  head
    title Markdown Converter
    link(rel="stylesheet", href="")
    link(href="public/styles.css", rel="stylesheet")
  body
    div.container
      div.row
        div.input.col-sm-5
          p Input Markdown Here
          input(type="textarea")
        div.output.col-sm-5
          p Converted HTML
          div.output
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")